body{
    margin:0;
    padding:0;
}

nav ul {
    text-align: center;
    justify-content: center;
     background-color:orange;  
    display: flex; 
    padding: 10px;
    padding-bottom: 45px;
    width: 100%;
    list-style-type: none;
}
nav ul li{
    color:white;
    padding:20px;

}

.main{
    background-image:url(foto.png);
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height:700px;
}

.main{
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
}
.mes{
    text-align: center;
}
.spain{
    justify-content: right;
    text-align: right;
    width: 300px;
    height:  500px;
    margin-left: 650px;
}
.shop1{
    background-color: yellow;
    text-align: center;
    color: rgb(0, 140, 255);
    width: 450px;
    height: 650px;
    justify-content: center;
}
.shop1 img{
    text-align: center;
    justify-content: center;
    padding-right: 50px;
    
}
.shop1 button{
    background-color: aqua;
}
.shop2{
    background-color: crimson;
    text-align: center;
    color: darkgoldenrod;
    width: 450px;
    height: 650px;
    justify-content: center;
}
.shop2 button{
    background-color: darkgoldenrod;
    color: red;
}
.shop2 img{
width: 75%;
height: 58%;

}
.mainshop{
    justify-content: space-evenly;
    display: flex;
}

.goodmain{
    display: flex;
    justify-content: space-evenly;
}
.shop3{
    text-align: center;
    background-color: crimson;
    color: rgb(229, 255, 0);
    width: 450px;
    height: 650px;
}
.shop3 button{
    background-color: darkgoldenrod;
    color: azure;
}
.contact{
    text-align: center;
    background-color: blue;
    color: chartreuse;
    width: 625px;
    height: 600px;
}
.themain{
    display: flex;
    justify-content: center;
}



